.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.animate-text-right {
    animation: animateText 1.5s ease;
    -webkit-animation: animateText 1.5s ease;
}

.animate-text-right-3s {
    animation: animateText 3s ease;
    -webkit-animation: animateText 3s ease;
}

.animate-text-right-5s {
    animation: animateText 5s ease;
    -webkit-animation: animateText 5s ease;
}

@keyframes animateText {
    0%{
        transform: translateX (-100%)    ;
        opacity: 0;
        -webkit-transform: translateX (-100%)    ;
        -moz-transform: translateX (-100%)    ;
        -ms-transform: translateX (-100%)    ;
        -o-transform: translateX (-100%)    ;
}
100%{
    transform: translateX (0)  ;
    opacity: 1;
    -webkit-transform: translateX (0)  ;
    -moz-transform: translateX (0)  ;
    -ms-transform: translateX (0)  ;
    -o-transform: translateX (0)  ;
}
}